*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(Assets/background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    font-size: 1em;
    height: 10vh;
}
nav ul {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
nav ul li{
    transition: all 0.2s linear;
    font-size: 15px;
    margin-left: 20px;
}
nav ul li:hover{
    color: royalblue;
    cursor: pointer;
}
.btn1{
    position: relative;
    right: 50px;
    height: 35px;
    width: 80px;
    background-color: #ed017f;
    border: none;
    border-radius: 5px;
    color: white;
    transition: all 1s;
}
.fa-search{
    position: relative;
    left: 60px;
    font-size: 30px;
    color: #ed017f;
}
h1{
    font-size: 70px;
    margin-top: 100px;
    margin-left: 50px;
    color: black;
}
.p1{
    font-size: 20px;
    margin-left: 50px;
    color: black;
}
.btn2{
    position: relative;
    left: 50px;
    top: 10px;
    height: 35px;
    width: 150px;
    background-color: #ed017f;
    border: none;
    color: white;
    transition: all 1s;
}
.btn3{
    border: 1px solid #ed017f;
    background: none;
    color: #ed017f;
    position: relative;
    left: 60px;
    top: 10px;
    height: 35px;
    width: 200px;
    transition: all 1s;
}
.main_hero_left{
    display: inline-block;
}
.main_hero_right{
    display: flex;
}
.hero_image img{
    position: fixed;
    width: 65%;
    height: 550px;
    margin-left: 520px;
    margin-top: -450px;
}
.car_loan{
    margin-top: -25rem;
    margin-left: 700px;
    position: absolute;
    display: flex;
    align-items: center;
    width: 9rem;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: white;
    border: none;
    box-shadow: 1px 1px 20px grey;
}
.home_loan{
    position: absolute;
    margin-left: 75rem;
    bottom: 25rem;
    display: flex;
    align-items: center;
    width: 9rem;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: white;
    border: none;
    box-shadow: 1px 1px 20px grey;
}
.contact ul{
    display: flex;
    list-style-type: none;
    margin-left: 50px;
    font-size: 20px;
}
.contact ul li{
    padding-left: 10px;
    padding-top: 100px;
}

.btn1:hover{
    background-color: orange;
    cursor: pointer;
}
.btn2:hover{
background-color: aqua;
color: black;
cursor: pointer;
}
.btn3:hover{
    background-color: orchid;
    color: antiquewhite;
    cursor: pointer;
}
.contact ul li:hover{
    font-size: 25px;
    cursor: pointer;
}
/* responsive design */
@media screen and (max-width: 480px) {
    nav{
      font-size: 4px;
      color: red;
    }
    .btn1{
        justify-content: flex-end;
        background-color: blue;
    }
    body{
        background-size: cover;
    }
    .main_hero_right{
        position: absolute;
        right: 63rem;
        top: 75rem;
    }
    .hero_image img{
        width: 42rem;
    }
  }